.comment{
    margin-left: 40px;
}
.commentLeft{
    margin-left: 25px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.commentProfileImg{
    width: 32px;
    height: 32px;
    margin-right: 20px;
    border-radius: 50%;
    object-fit: cover;
}
.commentItemList{
    padding: 0;
    margin: 0;
    list-style: none;
}
.commentLikeIcon{
    margin-left: 30px;
    height: 20px;
    width: 20px;
}
.commentLikeIcon:hover{
    align-items: flex-start;
    background: linear-gradient(90deg, #4CD1C8 100%, #FEF6E4 50%);
    font-weight: bold;
}
.commentLikeHide {
    display: none;
  }
  .commentLikeIconHover:hover + .commentLikeHide {
    display: block;
    color: blue;
  }


.commentInput{
    margin-left: 30px;
    
}
.commentTopRight{
    margin-left:15px;
}
.commentTopRightIcon{
    margin-right: 0px;
    height: 15px;
    width: 15px;
}
.commentUsername{
    font-size: 14px;
    font-weight: 500;
    margin: 0 5px;
}