.post {
    width: 85%;
    border-radius: 10px;
    -webkit-bos-shadow: 0px 0px 20px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 20px -8px rgba(0, 0, 0, 0.68);
    margin: 30px 0;
    background-color: #ffffff;
    border: 1px solid black;
}

.postWrapper {
    padding: 10px;
}

.postTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postTopLeft {
    margin-left: 25px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.postTopLeftList {
    padding: 0;
    margin: 0;
    list-style: none;
}

.postTopRight {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.postTopRightIcon {
    margin-right: 0px;
    height: 30px;
    width: 30px;
}

.postProfileImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.postFromChannel{
    font-size: 18px;
    margin: 0 10px;
    font-style: italic;
}
.postUsername {
    font-size: 18px;
    font-weight: 500;
    margin: 0 10px;
}

.postDate {
    font-size: 12px;
    margin: 0 10px;
}

.postCenter {
    margin: 20px 0;
    width: 100%;
}
.postText1 {
    margin-left: 25px;
    font-size: 20px;
    margin: 0 10px;
}
.postText {
    margin-left: 25px;
}

.postImg {
    margin-top: 20px;
    width: 100%;
    max-height: 400px;
    object-fit: contain;
}

.postBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #330000;
    padding-top: 10px;
}

.postBottomLeft {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.postLikeIcon {
    margin-left: 30px;
    margin-right: 10px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.postLikeIcon:hover {
    /* align-items: flex-start;
    background: linear-gradient(90deg, #4CD1C8 100%, #FEF6E4 50%);
    font-weight: bold; */
    width: 30px;
    height: 30px;
    background-color: #4CD1C8;
    /* ve hinh tron */
    border-radius: 50%;   
    /* -moz-border-radius:50%;
    -webkit-border-radius: 50%; */
}

.postLikeHide {
    display: none;
}
.postLikeIconHover:hover+.postLikeHide {
     display: block;
    color: blue;
}

.postCommentIcon {
    margin-left: 10px;
    height: 20px;
    width: 20px;
}

.postCommentIcon:hover {
    /* align-items: flex-start;
    background: linear-gradient(90deg, #4CD1C8 100%, #FEF6E4 0%);
    font-weight: bold; */
    width: 30px;
    height: 30px;
    background-color: #4CD1C8;
    /* ve hinh tron */
    border-radius: 50%;   
}



.postBottomRight {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 30px;
}

.postBookmarkIcon {
    height: 20px;
    width: 20px;
}

.postBookmarkIcon:hover {
    align-items: flex-start;
    background: linear-gradient(90deg, #4CD1C8 100%, #FEF6E4 0%);
    font-weight: bold;
}
