.topbarContainer {
    height: 50px;
    width: 100%;
    position: sticky;
    display: flex;
    align-items: center;
    top: 0;
    background-color: #ffffff;
    z-index: 10;
}

.homeContainer {
    display: flex;
    background-color: #FEF6E4;
}

.topbarLeft {
    flex: 5;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.Logo {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.topbarCenter {
    flex: 4;
}

.searchInput:focus {
    outline: none;
}

.topbarRight {
    font-size: 20px;
    flex: 5;
}

.Logoimg {
    width: 40px;
    height: 40px;
    float: left;
}

.clear{
    clear:both;
}
.seekPostCenter{
   
    width: 100%;
}
.listSeekWrapper{
    width: 600px;
    
}
.listSeekItem1{
    width:  300px;

    float:left;
}
.seekPostImg{
    width:  300px;
    padding: 10px;
    padding-right: 20px;
}
.listSeekItem2{
    width: 300px;
    
    float:right;
}
.seekPostTitle{
    text-align: center;
    font-size: 200%;
}
.seekPostContent{
    word-wrap: break-word;
}