.topbarContainer {
    height: 50px;
    width: 100%;
    position: sticky;
    display: flex;
    align-items: center;
    top: 0;
    background-color: #ffffff;
    z-index: 10;
}

.homeContainer {
    display: flex;
    background-color: #FEF6E4;
}

.topbarLeft {
    flex: 5;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.Logo {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.topbarCenter {
    flex: 4;
}

.searchInput:focus {
    outline: none;
}

.topbarRight {
    font-size: 20px;
    flex: 5;
}

.Logoimg {
    width: 40px;
    height: 40px;
    float: left;
}

.post {
    width: 85%;
    border-radius: 10px;
    -webkit-bos-shadow: 0px 0px 20px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 20px -8px rgba(0, 0, 0, 0.68);
    margin: 30px 0;
    background-color: #ffffff;
}